# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Backup & temp
*.swp
*~
